/*
 * AUTEUR: Fabien Meunier
 * PROJECT: Third_Type_Tapes_2
 * PATH: Third_Type_Tapes_2/app/styles
 * NAME: main.css
 */

/*------------------------------------------------------------------------------general-----------------------------------------------------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #8c8c8c;
}

a:hover {
  color: #777;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  height: 50px;
  width: 100%;
  position : fixed;
  z-index: 1;
}

.header .title {
  margin: 11px 0 0 20px;
  float: left;
}

/* traduction + log-in */
.header div.btn-menu {
  margin: 7px 8% 0 0;
  float: right;
}

.header .btn-group .dropdown-menu {
  padding: 0;
  box-shadow: none;
}

.header .btn-group.logIn .dropdown-menu form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .btn-group.logIn .dropdown-menu form button {
  width: 100%;
  border-radius: 0;
}

.header .title a {
  color: #777;
  margin-right: 7px;
}

.header .traduction img {
  vertical-align: text-top;
}

.header .navbar {
  text-align: center;
}

/* shifting item menu on hover */
.header .container .nav.navbar-nav a.menu {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .container .nav.navbar-nav li:hover a.menu{
  -webkit-transform: translate(3px, 0px);
  -moz-transform: translate(3px, 0px);
  -o-transform: translate(3px, 0px);
  -ms-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
}

/* fade out active item menu */
.header #js-navbar-collapse li {
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

.header #js-navbar-collapse li.active {
  background-color:  rgba(231, 231, 231, 1);
}

.navbar-toggle {
  margin: 7px 2% 7px 2%;
}

#js-navbar-collapse {
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.glyphicon:not(.glyphicon-log-in) {
  z-index: -1;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.container > .view {
  margin-top: 80px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

/* View Animations */
.view.anim.ng-enter {
  -webkit-animation: zoomIn 0.6s;
  -moz-animation: zoomIn 0.6s;
  -o-animation: zoomIn 0.6s;
  -ms-animation: zoomIn 0.6s;
  animation: zoomIn 0.6s;
  z-index: -1;
}

/**************************************************************************************************************************************************************************/
/*------------------------------------------------------------------------------FRONT-------------------------------------------------------------------------------------*/
/**************************************************************************************************************************************************************************/

/*------------------------------------------------------------------------------Footer newsletter-------------------------------------------------------------------------*/
.newsLetter input.button {
  padding: 7px 14px;
  margin: 7px 0;
  width: 100%;
  border: 0 none;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

.newsLetter input.button:hover {
  background-color: #aaa;
  color: #fff;
}

div.newsLetter {
  width: 220px;
}

.newsLetter label {
  color: #444;
}
/*------------------------------------------------------------------------------Footer ancre------------------------------------------------------------------------------*/
.footer .aimant {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.footer .aimant img {
  width: 40px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.footer .aimant img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* Spinner */
.loading {
  text-align: center;
  margin: 150px 0 100px 0;
}

/* Images preview */
div.masonry-brick {
  width: 140px;
  height: 140px;
}

.imgPreview {
  width: 140px;
  height: 140px;
  margin: 1px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-repeat: round;
  -moz-background-repeat: round;
  -o-background-repeat: round;
  background-repeat: round;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transition: opacity 0.7s ease-in-out;/* transition pour Chrome et Safari */
  -moz-transition: opacity 0.7s ease-in-out;/* transition pour Firefox */
  -o-transition: opacity 0.7s ease-in-out;/* transition pour Opéra */
  transition: opacity 0.7s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
}

.imgPreview:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}

.showInfos {
  width: 140px;
  height: 140px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.showInfos h5 {
  line-height: 16px;
  z-index: -2;
  position: relative;
}

.wrapword {
  overflow: hidden;
  padding: 16px;
  word-wrap: break-word;
}
