/*
 * AUTEUR: Fabien Meunier
 * PROJECT: Third_Type_Tapes_2
 * PATH: Third_Type_Tapes_2/app/styles
 * NAME: main.css
 */

/*------------------------------------------------------------------------------general-----------------------------------------------------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #8c8c8c;
}

a:hover {
  color: #777;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.easeInOut {
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  height: 50px;
  width: 100%;
  position : fixed;
  z-index: 2;
}

.header .title {
  margin: 11px 0 0 20px;
  float: left;
}

/* traduction + log-in */
.header div.btn-menu {
  margin: 7px 8% 0 0;
  float: right;
}

.header .btn-group .dropdown-menu {
  padding: 0;
  box-shadow: none;
}

.header .btn-group.logIn .dropdown-menu form {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .btn-group.logIn .dropdown-menu form button {
  width: 100%;
  border-radius: 0;
}

.header .title a {
  color: #777;
  margin-right: 7px;
}

.header .traduction img {
  vertical-align: text-top;
}

.header .navbar {
  text-align: center;
}

/* shifting item menu and links on hover */
a.moveRight:hover{
  -webkit-transform: translate(3px, 0px);
  -moz-transform: translate(3px, 0px);
  -o-transform: translate(3px, 0px);
  -ms-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
}

/* fade out active item menu */
.header #js-navbar-collapse li {
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-color:  rgba(231, 231, 231, 0);
}

.header #js-navbar-collapse li.active {
  background-color:  rgba(231, 231, 231, 1);
}

.navbar-toggle {
  margin: 7px 2% 7px 2%;
}

#js-navbar-collapse {
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.container > .view {
  margin-top: 80px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 770px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

/**************************************************************************************************************************************************************************/
/*------------------------------------------------------------------------------FRONT-------------------------------------------------------------------------------------*/
/**************************************************************************************************************************************************************************/

/*------------------------------------------------------------------------------Footer------------------------------------------------------------------------------------*/
.newsLetter input.button {
  padding: 7px 14px;
  margin: 7px 0;
  width: 100%;
  border: 0 none;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
}

.newsLetter input.button:hover {
  background-color: #aaa;
  color: #fff;
}

div.newsLetter {
  width: 220px;
}

.newsLetter label {
  color: #444;
}

.footer .aimant {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.footer .aimant img {
  width: 40px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.footer .aimant img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.newsLetter, .socialNetwork {
  display: inline-block;
}

.socialNetwork {
  float: right;
  margin-right: 42px;
}

.socialNetwork a {
  margin: 22px 2px 0 0;
  font-size: 40px;
  color: #c6c6c6;
}

.socialNetwork a:hover {
  color: #aaa;
}

/*------------------------------------------------------------------------------Preview-----------------------------------------------------------------------------------*/

/* Spinner */
.loading {
  text-align: center;
  margin: 150px 0 100px 0;
}

/* Images preview */
.square {
  width: 140px;
  height: 140px;
}

.imgPreview {
  margin: 1px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-repeat: round;
  -moz-background-repeat: round;
  -o-background-repeat: round;
  background-repeat: round;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.imgPreview:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}

.showInfos {
  position: relative;
  display: inline-block;
  text-align: center;
}

.showInfos h5 {
  line-height: 16px;
  z-index: -2;
  position: relative;
}

.wrapword {
  overflow: hidden;
  padding: 16px;
  word-wrap: break-word;
}

/* Links */
.linksContainer{
  margin-left: 15px;
}

.links {
  display: inline-block;
}

.links.friends {
  vertical-align: top;
  margin-right: 20%;
}

.linksContainer h4 {
  font-size: 15px;
}

/* shifting item links on hover */
.linkName:hover{
  -webkit-transform: translate(3px, 0px);
  -moz-transform: translate(3px, 0px);
  -o-transform: translate(3px, 0px);
  -ms-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
  color: #474747;
}

/* Events */
.preview {
  width: 140px;
  height: 140px;
  margin: 1px;
  text-align: center;
}

.infosPrev .imgPreview {
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 140px;
  height: 100%;
}

.eventInfo {
  font-size: 12px;
  padding: 2px;
}

/*------------------------------------------------------------------------------Detail------------------------------------------------------------------------------------*/

.detailImage {
  width: 280px;
  margin: 0 10px 10px 0;
}

.zoom {
  transform: scale(2);
  max-width: 35%;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 40%;
}

.detailImage:hover {
  cursor: pointer;
}

.detailDescription {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
}

.sellingInfos {
  margin: 10px 0 10px 0;
}

.shippingSel {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  -moz-appearance: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 275px;
}

.shippingSel:hover {
  cursor: pointer;
}

/* bouton donation paypal */
.donation {
  margin-bottom: 9px;
}

/* bouton download */
.downloadButton {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #c6c6c6;
  border: 2px #c6c6c6 solid;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #fff;
  color: #c6c6c6;
}

/* lecteurs soundcloud, bandcamp, youtube */
.player {
  margin-bottom: 10px;
  max-width: 700px;
}

/* fleches de navigation */
.navigation {
  margin-top: 15px;
  text-align: center;
}

.navArrow {
  font-size: 35px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #c6c6c6;
  border: 2px #c6c6c6 solid;
  margin: 0 20% 0 20%;
}

.navArrow:hover {
  color: #c6c6c6;
  background-color: #fff;
}

/* bottom preview */
.releaseBottom {
  width: 137px;
  height: 137px;
}

.artistBottom {
  width: 137px;
}

/* google maps */
.googleMaps {
  margin: auto;
}