<!--
* AUTEUR: Fabien Meunier
* PROJECT: Third_Type_Tapes_2
* PATH: Third_Type_Tapes_2/app/views
* NAME: events.html
-->

<div infinite-scroll="events.getList()" infinite-scroll-disabled="events.busy" infinite-scroll-distance="1">
    <div ng-show="events.loading" class="loading">
        <img src="images/gear.svg" alt="{{ 'LOADING' | translate }}">
    </div>
    <div masonry="{transitionDuration: '0.6s'}" class="grid" preserve-order>
        <div ng-repeat="event in events.list" class="masonry-brick preview">
            <a href="" class="infosPrev">
                <div image-prev="images/event/{{event.image_event_resize}}" class="imgPreview autosize"></div>
                <h5 class="eventInfo">{{event.date_event}}
                    <br/>
                    <strong>{{event.titre_event}}</strong>
                </h5>
            </a>
        </div>
        {{events.failInfos}}
    </div>
</div>
