<br/>
<div class="footer">
    <a class="aimant" href="" scroll-to="top">top</a>
    <!--<a class="glyphicon glyphicon-circle-arrow-up aimant" aria-hidden="true" href="#top"></a>-->
    <div class="container">
        <div class="newsLetter">
        <div id="mc_embed_signup">
            <form action="//thirdtypetapes.us10.list-manage.com/subscribe/post?u=71f7be8a51f6cd80e006e8b86&amp;id=1d0dade080" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL" translate>NEWSLETTER_TITLE</label>
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_71f7be8a51f6cd80e006e8b86_1d0dade080" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="{{ 'SUBMIT' | translate }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>