<div class="header" ng-controller="MainCtrl as main">
    <div class="navbar navbar-default" role="navigation">
        <div class="btn-menu">
            <div class="btn-group logIn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu">
                    <form class="navbar-form" ng-submit="">
                        <li>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ 'USER' | translate }}" name="username">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" name="password">
                            </div>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-default" translate>SUBMIT</button>
                        </li>
                    </form>
                </ul>
            </div>
            <div class="btn-group traduction">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{main.flagPath}}" alt="flag">&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" ng-click="main.changeLanguage('fr')">
                            <img src="images/fr.png" alt="flag_fr">&nbsp;
                            <span translate>BUTTON_LANG_FR</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="main.changeLanguage('en')">
                            <img src="images/en.png" alt="flag_en">&nbsp;
                            <span translate>BUTTON_LANG_EN</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h3 class="title"><a href="#/">TTT</a></h3>
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ng-class="{'active': url === '/label'}">
                        <a ng-href="#/label" class="menu" translate>MENU_LABEL</a>
                        <div class="underline-menu"></div>
                    </li>
                    <li ng-class="{'active': url === '/'}">
                        <a href="#/" class="menu" translate>MENU_RELEASES</a>
                        <div class="underline-menu"></div>
                    </li>
                    <li ng-class="{'active': url === '/artists'}">
                        <a ng-href="#/artists" class="menu" translate>MENU_ARTISTS</a>
                        <div class="underline-menu"></div>
                    </li>
                    <li ng-class="{'active': url === '/events'}">
                        <a ng-href="#/events" class="menu" translate>MENU_EVENTS</a>
                        <div class="underline-menu"></div>
                    </li>
                    <li ng-class="{'active': url === '/links'}">
                        <a ng-href="#/links" class="menu" translate>MENU_LINKS</a>
                        <div class="underline-menu"></div>
                    </li>
                    <li ng-class="{'active': url === '/contact'}">
                        <a ng-href="#/contact" class="menu" translate>MENU_CONTACT</a>
                        <div class="underline-menu"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>