<!--
* AUTEUR: Fabien Meunier
* PROJECT: Third_Type_Tapes_2
* PATH: Third_Type_Tapes_2/app/views
* NAME: links.html
-->

<div infinite-scroll="links.getList()" infinite-scroll-disabled="links.busy" infinite-scroll-distance="1" class="linksContainer">
    <div ng-show="links.loading" class="loading">
        <img src="images/gear.svg" alt="{{ 'LOADING' | translate }}">
    </div>
    <div class="links friends" >
        <h4 translate>FRIENDS</h4>
        <ul>
            <li>
                <a href="http://www.syrphe.com/" target="_blank">
                    <h5 class="linkName">Syrphe</h5>
                </a>
            </li>
            <li>
                <a href="http://smallbuthardrecordings.limitedrun.com/" target="_blank">
                    <h5 class="linkName">Small but hard</h5>
                </a>
            </li>
            <li>
                <a href="http://cuttingroomrecords.blogspot.co.uk/" target="_blank">
                    <h5 class="linkName">Cutting Rooms records</h5>
                </a>
            </li>
            <li>
                <a href="http://www.bedroomresearch.com/" target="_blank">
                    <h5 class="linkName">Bedroom Research</h5>
                </a>
            </li>
            <li>
                <a href="http://andestapes.tumblr.com/" target="_blank">
                    <h5 class="linkName">Andesground</h5>
                </a>
            </li>
            <li>
                <a href="http://www.uzusounds.com/" target="_blank">
                    <h5 class="linkName">Uzusounds</h5>
                </a>
            </li>
            <li>
                <a href="http://musikmekanik.free.fr/index.php?option=com_content&view=article&id=101&Itemid=52" target="_blank">
                    <h5 class="linkName">MMC</h5>
                </a>
            </li>
            <li>
                <a href="http://www.serendip-arts.org/" target="_blank">
                    <h5 class="linkName">Serendip Festival</h5>
                </a>
            </li>
            <li>
                <a href="http://www.cccpu.net" target="_blank">
                    <h5 class="linkName">CCCPu</h5>
                </a>
            </li>
            <li>
                <a href="http://www.discogs.com/label/461407-Thirdtypetapes" target="_blank">
                    <h5 class="linkName">Discogs TTT</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="links" >
        <h4 translate>ALIENS</h4>
        <ul>
            <li ng-repeat="artiste in links.list" >
                <a ng-href="{{artiste.lien_artiste}}" target="_blank">
                    <h5 class="linkName">{{artiste.nom}}</h5>
                </a>
            </li>
        </ul>
    </div>
    <span>{{links.failInfos}}</span>
</div>
